html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

nav{
    border-bottom: 1px solid #eeeeee;
}

.navbar-light .navbar-nav .nav-link {
    margin-top:5px;
    color: #2e2e2e;
}

.footer {
    //position: relative;
    //margin-top: -60px; /* negative value of footer height */
    height: 60px;
    clear:both;
    padding-top:20px;
    border-top: 2px solid #FE0000;
    padding: 20px;
    text-align: center;
    font-size: 0.8em;
    background-color: #fff;
}

/*HR ADMIN APP STYLES*/
body {
    //background-color: #E6E9EC;
}

.post-job-app-container {
    border: 0.5px solid #408BCB;
    background-color: #fff;
    margin-top: 2%;
}

ul.nav.nav-tabs.post-jobs-nav {
    background-color: #408BCB;
    padding-top: 4px;
    padding-left: 4px;
    margin-bottom: 5%;
}

ul.post-jobs-nav .nav-link  {
    color: #fff;
}

.post-jobs-nav .nav-link.active  {
    color: #89A8C7;
}

.post-job-app-container .page-content-container {
    padding: 15px;
}

.job-vacancy {
    padding: 10px;
    border: 1px solid lightgrey;
    margin-top:10px;
    border-radius: 5px;
}

.job-vacancy:hover{
    background-color: #eeeeee;
    cursor: pointer;
}

.job-vacancy .row {
    margin-right: 0;
    margin-left: 0;
}

.job-vacancy table.job-vacancy-table-details {
    margin-left: 25px;
    margin-top: 5px;
}

.job-vacancy > div.row > div[class*='col-sm']:nth-child(1) {
    text-align: center;
    padding-right: 0;
    margin-top: 5px;
    margin-left: -10px;
}

.job-vacancy > div.row > div[class*='col-sm']:nth-child(2) {
    padding-left: 0;
    margin-left: -10px;
}

.job-vacancy a.job-details {
    text-decoration: none;
}

.job-vacancy a.job-details:hover {
    text-decoration: underline;
    color: #005cbf;
    cursor: pointer;
}

.job-vacancy table.job-vacancy-table-details td,
.job-vacancy table.job-vacancy-table-details th {
    font-size: 0.8rem;
    padding: 2px;
}

table.job-vacancy-table-details tr td:nth-child(1) {
    color: gray;
    text-align: right;
}

table.job-vacancy-table-details tr td:nth-child(2) {
    padding-left: 10px;
}