    <nav id="sidebar">
            <div class="sidebar-header">

            </div>

            <ul class="list-unstyled components">

                <li>
                    <a style="color:blue;" href="{% url 'history' %}">History</a>

                </li>
                <li>
                    <a style="color:blue;" href="{% url 'rector' %}">Message of Rector</a>
                </li>
                 <li>
                    <a  style="color:blue;"href="{% url 'cuiranking' %}">CUI Ranking</a>
                </li>
            </ul>


        </nav>
