    <nav id="sidebar">
            <div class="sidebar-header">

            </div>

            <ul class="list-unstyled components">

                <li >
                    <a style="color:blue;" href="{% url 'ad' %}">Administrative Structure</a>

                </li>
                <li>
                    <a style="color:blue;" href="{% url 'md' %}">Medical Centre</a>

                </li>
                <li>
                    <a style="color:blue;" href="{% url 'po' %}">Provost Office</a>
                </li>


            </ul>


        </nav>
