    <nav id="sidebar">
            <div class="sidebar-header">

            </div>

            <ul class="list-unstyled components">

                <li >
                    <a  style="color:blue;"  href="{% url 'students' %}">Guide for Students</a>

                </li>
                <li>
                    <a style="color:blue;" href="{% url 'arr' %}">Academic Rules & Regulations</a>

                </li>
                <li>
                    <a  style="color:blue;"  href="{% url 'coc' %}">Code of Conduct</a>
                </li>
                 <li>
                    <a style="color:blue;" href="{% url 'cas' %}">Club and Societies</a>
                </li>
                 <li>
                    <a style="color:blue;"  href="{% url 'ss' %}">Student Services</a>
                </li>

            </ul>


        </nav>
