{% extends 'base.html' %}
{% block content %}

    <div class="wrapper">
        <!-- Sidebar Holder -->
       {% include 'snippets/aboutstaticside.html' %}

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

<h3><b>CUI Abbottabad</b></h3>


                </div>
            </nav>

           <h4><b>COMSATS</b></h4>
           <p style="color:black;">The Third World Academy of Sciences (TWAS) initiated the proposal for the formation of Commission on Science and Technology for Sustainable Development in South (COMSATS). The (TWAS) at that time was headed by the Noble Laureate from Pakistan, Prof. Dr. Abd-ul-Salam. On his suggestion the Foundation Conference was held in October 1994 in Islamabad. The representatives of 36 countries and of international organizations attended the Conference. The Conference unanimously adopted the resolution for the establishment of COMSATS.</p>
  <p style="color:black;">The COMSATS is an international organization, with it’s headquarter in Islamabad. The main objective of the COMSATS is to sensitize the developing countries to the centrality of the science and technology in the process of development. COMSATS, right from its inception, has been supporting the programs for the development of science and technology in the developing countries It has undertaken a number of programs in different areas, which have benefited the member countries.</p>

            <div class="line"></div>

            <h3><b>COMSATS University Islamabad, Abbottabad Campus</b></h3>
          <p  style="color:black;">Spanning an area of 308 Kanals, stands the grand structure of Abbottabad Campus of CUI. Imparting quality education, contributing effectively to the research base of Pakistan, providing state-of-the-art facilities to students, helping in social uplift of the community it is located in, the campus symbolizes a modern and progressive seat of learning. Abbottabad Campus became functional in July 2001, and the first academic session started in September 2001.</p>
  <p  style="color:black;">From a modest beginning with three departments and 121 student strength, three undergraduate programs and physical structure comprising old World-War II barracks, emerged the leading institute of the region which has now eleven departments, a student strength of 5500 (47 fold increase), 17 undergraduate programs, 24 graduate programs, a qualified faculty strength of 575 including more than 200 PhDs and 85 modern laboratories. Our physical infrastructure emulates the best educational institutions of country.</p>
  <p  style="color:black;">To meet the challenges of the National commitment to education, CUI Abbottabad plans, in the coming years, to launch 17 new departments with a focus on science led engineering, social, medical and agriculture sciences. Future of CUI Abbottabad campus is as challenging and exciting as the offerings of a wide array of contemporary disciplines offered to the coming generation of leaders and scientists. We do not distribute degrees; we breed a generation of leaders and live true to our Motto 'We Aim to Inspire'</p>
   <div class="line"></div>

           <h4><b>Degree Awarding Status</b></h4>
  <p style="color:black;">CUI attained the status of degree awarding institute vide the Presidential Ordinance No. XXXVIII issued on 12th August, 2000.</p>
   <div class="line"></div>
            <h4><b>Vision</b></h4>
  <p style="color:black;">CUI aspires to be both one of the top research institutions and one of the best higher education providers in the country. It envisages becoming a university by the name of “COMSATS University”, for which the legal documentation is under process with the Government of Pakistan. The vision being pursued by the CUI is to become one of the top 100 universities in the developing world. The CUI further intends to earn a place among the top 500 universities of the world by the year 2020.</p>

            <div class="line"></div>

          <hr><h4><b>Mission</b></h4>
  <p  style="color:black;">The Institute's mission is threefold:
    <h3>1. Research and Discovery</h3>
  <p  style="color:black;">Generate and preserve knowledge, understanding and creativity by instigating enquiry, conducting high-quality research and promoting scholarship, that benefit students, scholars and communities across the country, the Muslim Ummah and the World, at large.</p>
  <h3>2. Teaching and Learning</h3>
 <p  style="color:black;">Share the knowledge, understanding and creativity by providing a broad range of educational programs among a diverse community of learners and teachers and prepare graduate, professional and undergraduate students as well as non-degree seeking students interested in continuing education and lifelong learning for active roles in competitive and culturally diverse environments. </p>
  <h3>3. Outreach and Public Service</h3>
  <p  style="color:black;">Extend, apply and exchange knowledge between the institute and society by applying scholarly expertise to intellectual, social and technological problems, by helping organizations and individuals respond to their changing environments, and by making the knowledge and resources created and preserved at the institute accessible to the citizens. Using the resources of its multiple campuses in an integrated fashion, the Institute vies to strengthen the services to the state through the education of a modern work force, research and development, technology commercialization and partnership with business, government and community group.</p>

  </div>
    </div>




       <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

{% endblock %}

