{% extends 'base.html' %}
{% block content %}

    <div class="wrapper">
        <!-- Sidebar Holder -->
       {% include 'snippets/researchsnip.html' %}

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

<h3><b>CUI Abbottabad</b></h3>


                </div>
            </nav>

           <h4><b>Biotechnology</b></h4>
            <p style="color:black;">
                The International Society for Environmental Biotechnology defines environmental biotechnology as "the development, use and regulation of biological systems for remediation of contaminated environments (land, air, water), and for environment-friendly processes. Contaminants that are released into environment includes:

                <br>•          Pesticides, Herbicides and Fungicides

                <br>•          Aerosols and waste gases <br>

•          Waste water and industrial effluents <br>

•          Petrochemicals <br>

•          Explosives <br>

•          Heavy metals <br>

The members of this research group have expertise in environmental biotechnology and they are involved in following research activities:

                <br>•          Detection and monitoring of pollutants and their impact on plants and animals at molecular level

                <br>•         Detection and monitoring of microorganisms used for bioremediation through PCR techniques

                <br>•          Genetic engineering of plants and microorganism to remove contaminants from soil, air and water


                <br>

There is a potential for environmental biotechnology to make major contribution to protection and remediation of the environment for more sustainable society. There is huge problem of environmental pollution in developing countries like Pakistan. In order to overcome pollutants from environmental media, there is a dire need to develop new and innovative techniques for decontamination of environment. Among new methods and techniques use by this group includes:

                <br> 1)       Isolation and Identification of microbes from contaminated areas of Pakistan that are involved in decontamination of wastes. Moreover, new genes and enzymes have been identified through RT-PCR followed by gene cloning and sequencing techniques in microbial strains that actually involved in pollutants removal from contaminated sites.

                <br>2)       Genetically engineered plants and microbes have been produced that could be used for phytoremediation and bioremediation purposes.

                <br>This group is working on the preparation of antibodies and biosensors for the detection of specific contaminants in polluted <environment class="br"></environment>


Focus Areas
Decontamination of polluted air, soil and water,  Biosensors and antibodies production, Genetically engineered plants and microbes for phytoremediation and bioremediation

<h3><b>Group Members:</b></h3>
•   DR. RAFIQ AHMAD <br>
•   DR. SABAZ ALI KHAN <br>
•   ISMAT NAWAZ <br>






            </p>
  </div>
    </div>




       <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

{% endblock %}

