{% extends 'base.html' %}
{% block content %}

    <div class="wrapper">
        <!-- Sidebar Holder -->
       {% include 'snippets/researchsnip.html' %}

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

<h3><b>CUI Abbottabad</b></h3>


                </div>
            </nav>

           <h4><b>Applied and Analytical Chemistry</b></h4>
            <p style="color:black;">

 <br>
Our research group emphasizes on the integrated chemistry research by applying theoretical chemistry concepts to practical applications and to the challenges posed by the needs of local and international industry. We are working on different stream in Applied and Analytical Chemistry. Mainly our research is focused on;

<h4><b>Water Research</h4></b>

Emerging problems that have to be addressed in this era are the water quality management.
            <br>
• Development of technologies for the treatment and recycling of wastewater. <br>
• Media development from indigenous materials for the removal of arsenic and other heavy metals from potable water. <br>
<b> Materials for Solar cells and other Photosensitive Applications</b> <br>

• Synthesis of bi and tri metallic oxide/sulphidenanomaterials or composites either in powder form or thin films form and their characterization
            <br>• Adsorption mechanisms onto oxide nanomaterials surfaces for water treatment
            <br>• Thin films solar cell materials <br>
• Trimetallic oxide phosphore nanomaterials <br>
• Ferrites <br>
<b>Colloids and Surfactants</b> <br>

• Colloids and Surfactants, Responsive Surfactants <br>
• Controlled Synthesis of Particles in different size and shapes and their applications <br>
• Surfactant Interactions, Electrochemistry of Surfactant systems <br>
• Spectroscopic studies of Surfactant based systems <br>
<b> Method Development & Chemosensing/Biosensing </b>
            <br>
• Advance Microextraction Techniques <br>
• Preconcentration & Sample Preparation <br>
• Electrochemical Sensing <br>
• Biosensing <br>
• Nanocomposites for Chemosensing <br>
• Carbon Nanodots for Bioimaging
   <h3><b>Focus Areas</b></h3>
 Thin films, Semiconductors, Nanocomposites, Solar Cells, Colloids, Surfactants, Adsorption,  Water quality management, light emitting materials, biosensors, Bioimaging, Sample Preparation, Microextraction

            <h3><b>Group Members:</b></h3>
        •     DR. ABDUR RAHMAN KHAN <br>
•  ASAD MUHAMMAD KHAN <br>
•  DR. BUSHRA ISMAIL <br>
•  DR. RAFAQAT ALI KHAN <br>
•  DR. FAHEEM SHAH <br>
•  AWAL NOOR <br>





            </p>
  </div>
    </div>




       <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

{% endblock %}

