{% extends 'base.html' %}
{% block content %}

    <div class="wrapper">
        <!-- Sidebar Holder -->
     {% include 'snippets/staticpageside.html' %}
        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

<h3><b>CUI Abbottabad</b></h3>


                </div>
            </nav>
 <h2>Students Discipline Regulations</h2>
    <h3>CUI Students Discipline Regulations, 2006 <br>
     REGULATIONS GOVERNING STUDENTS DISCIPLINE <br>
    PREAMBLE</h3>
<ul>
    <li>It is a primary goal of the Institute to create conditions on its campuses which are conducive to not only imparting education to students in a peaceful and serene environment, but also to enrich their personalities by inculcating in them a sense of reason, tolerance, discipline, enlightened moderation, and civilized behavior, thereby ensuring an orderly and decent atmosphere of learning. The following Regulations establish the ground rules of permissible student behavior and structure for their enforcement.</li>
    <br><h3>TITLE</h3>
<li>These Regulations, framed in pursuance of Section 18 (2) (g) of Ordinance XXXVIII of 2000, for the establishment of the COMSATS University Islamabad, shall be called the “COMSATS University Islamabad Students Discipline Regulations, 2006.”</li>
    <h3>COMMENCEMENT</h3>
    <li>These Regulations shall come into force with immediate effect.</li>
    <h3>APPLICATION</h3>
    <li>These Regulations shall apply to all students of the Institute.</li>
    <H3>DEFINITIONS</H3>
<li>In these Regulations, unless there is anything repugnant to the subject or context, the following expressions shall have the meanings respectively assigned to them as under:
</li>“Academic Council” means the Academic Council of the Institute;
</li><li>“Board” means the Board of Governors of the Institute;
</li><li>“Campus” means a constituent campus of the Institute;
</li><li>“Campus Discipline Committee” means the Campus Discipline Committee constituted on a campus;
</li><li>“Discipline Committee” means the Discipline Committee constituted at the Institute;
</li><li>“Director” means the Director of a campus;
</li><li>“Institute” means the COMSATS University Islamabad;
</li><li>“Officer In-charge of Student Affairs” means the Officer In-charge of Student Affairs, by whatever name called;
</li><li>“Provost” means the Provost of the Institute;
</li><li>“Rector” means the Rector of the Institute;
</li><li>“ Student” means the student of the Institute.
</li><li>All other terms and expressions used in these Regulations shall have the same meanings as are assigned to them under Section 2 of the COMSATS University Islamabad Ordinance, 2000.</li>
</ul>


  </div>
    </div>
       <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

{% endblock %}

