{% extends 'base.html' %}
{% block content %}

    <div class="wrapper">
        <!-- Sidebar Holder -->
       {% include 'snippets/researchsnip.html' %}

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

<h3><b>CUI Abbottabad</b></h3>


                </div>
            </nav>

           <h4><b>Computer Science</b></h4>
            <p style="color:black;">


<b>Cloud and Grid Computing (CGC)</b> <br>
CGCRG (Cloud & Grid Computing Research Group) is a research group in COMSATS Abbottabad Campus, that is investigating many aspects of cloud computing and grid computing software and hardware infrastructure.Group members are engaged in the investigation, design and development of different important areas of cloud and grid computing paradigms.

                <br>

<b>The objectives of this group are:
</b>
                <br>

•  Investigate and propose the best practices for application deployment, scaling, and efficient resource management for the existing applications to the cloud without modifying them.
                <br>•  Investigate and propose best practicing model for cloud computing <br>
•  Identify the new security threats for the applications hosted on public clouds. <br>


<b> Current active Research topics of research group are:

</b> <br>

•  A Reliable Checkpoint Storage Strategy for Grid. <br>
 • Load Balancing in Grid Computing . <br>
•  Resource Discovery in Grid Computing . <br>
•  Virtualization in Cloud Computing. <br>
•  Pricing Strategies in Cloud Computing. <br>
•  Business Intelligence Cloud Computing <br>
•  Security and Privacy issues Cloud Computing. <br>
•  Transferring parallel computing problems from CPU to GPU. <br>
•  Mobile Adhoc Networks
<b>
<h3>Focus Areas </b>
</h3>Cloud Computing ,Business Intelligence Cloud Computing, Grid Computing, Parallel Computing on GPUs <br>
       <h3><b>Group Members:</b></h3>

• DR. BABAR NAZIR <br>
• DR. IMRAN ALI KHAN <br>
• DR FIAZ GUL KHAN <br>
• DR. MUDASSAR ASLAM <br>
• DR. ATTIQA REHMAN <br>
• MR. M. SHAKEEL <br>
• MS. SANA MALIK <br>
• MR.MUKHTIAR ZAMIN <br>
• MUHAMMAD IBTISAM GUL <br>
• SAGHIR AHMED <br>
• MR. SUMAIR KHAN <br>
• MR.IMTIAZ AHMED <br>
            </p>
  </div>
    </div>




       <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

{% endblock %}

