{% extends 'base.html' %}
{% block content %}

    <div class="wrapper">
        <!-- Sidebar Holder -->
     {% include 'snippets/staticpageside.html' %}
        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

<h3><b>CUI Abbottabad</b></h3>


                </div>
            </nav>
<h2>Student Services</h2>
<h3>Service Centre</h3>
    <p  style="color:black;">Hygienic and healthy food and snacks are provided to the day scholars, boarders and staff / faculty members in a Service Centre. The Service Centre is managed by the institute, where all food items are provided at subsidized rates.

</p><p  style="color:black;">To ensure quality and hygiene of the food a food committee is formed which looks after the menu selection and quality of service. The facility remains open to the users from 07:00 am to 8:30 pm, seven days a week.

</p><p  style="color:black;">Apart from the above, a separate mess is also available for the hostel residents/students adjacent to the Salman Firdaus Hostel.</p>
    <hr><h3>Sports Facilities</h3>
    <p  style="color:black;">CUI Abbottabad has always tried to maintain a balance of academic and extracurricular activities in order to groom our students into future professionals who are mentally, emotionally and physically ready for the competitive world of IT.</p>

    <h3>   A) Fields and grounds </h3>
<p  style="color:black;">By the grace of Allah, CUI Abbottabad has large areas that are custom designed and well maintained as grounds, fields and courts for different sports activities like Cricket, Football, Volley Ball, Badminton, Table Tennis and Athletics. For management, and promotion of each Sport a staff member has a permanent charge. This sports officer is aided by sports coordinators selected from each department, that play a key role in the Students’ Week activities every semester.

</P><p style="color:black;">Considering the fact that extracurricular activities provide students with important opportunities for personal development and growth outside the classroom. CUI Abbottabad campus has developed many modern and non-conventional facilities for the students.    <br>
</p>
    <h3>B) Fitness and Weight Training Center for boys </h3>
    <p  style="color:black;" >A modern facility comprising all the necessary machines and equipment is available for the students in the Salman Firdaus Hostel. The students can use these facilities by paying nominal charges and becoming members of the fitness center. The up gradation and development of this facility is being done continuously.</p>
    <hr>
    <h3> Parking Services </h3>
<p  style="color:black;"> A big open area of the campus has been developed as the parking lot for the staff, faculty, students and visitors. The faculty and staff members have been assigned specific parking sheds for their regular use. Visitors and students may park their vehicles in their specifically allotted lots. For parking and traffic violations strict disciplinary action is taken by the university. Area is well managed and has special security arrangements.
</p>
    <hr>
    <h3>Transportation Services</h3>
<p  style="color:black;">CUI Abbottabad has a total of  mini buses to provide pick and drop facility to students on allocated routes of Abbottabad, and Mansehra. The service is also extended for students of Havalian and Haripur district.
</p>
    <hr>
    <h3>Campus Mosque</h3>
    <p  style="color:black;">
Present on the campus, adjacent to the boys hostel is a beautiful spacious mosque for male students/faculty/administrative staff and a separate mosque for female faculty/staff/students. In addition to the five daily prayers, there is an arrangement for Friday prayers also.</p>
<br>
  </div>
    </div>
       <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

{% endblock %}

