{% extends 'base.html' %}
{% block content %}

    <div class="wrapper">
        <!-- Sidebar Holder -->
 {% include 'snippets/staticpageside.html' %}

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

<h3><b>CUI Abbottabad</b></h3>


                </div>
            </nav>

            <h2>Guide for  Students</h2>
           <br>
    <h3>Welcome to the COMSATS University, Abbottabad</h3>
    <p  style="color:black;">You have joined the community of more than 5560 students at COMSATS University, Abbottabad.</p>

    <p  style="color:black;">This brief guide aims to introduce you to the University and also highlights the services available to you.</p>

<p  style="color:black;">We hope you find it useful and wish you every success in your studies.</p>
    <h2>CUOnline COMSIS (COMSATS Student Information System)</h2>
    <p  style="color:black;">COMSATS students Information system (COMSIS) is an online facility through which students and their parents can access activities like attendance records, results, fee record, semester wise progress reports. The facility is helping tremendously the students and parents to monitor their progress on daily basis.

</p><p  style="color:black;">If you are a new student, you should have your comsis account. Contact your departmental coordination office for your new account. Your cuonline account will also allow you to access CUOnline Portal.

</p><p  style="color:black;">If you already have cuonline account,  </p><label  style="color:blue;" >Login here</label>
             <a href="https://cuonline.cuiatd.edu.pk/">www.cuonline.cuiatd.edu.pk</a>
            <div class="line"></div>

           <p>
       <h3> University cards</h3>
            <p style="color:black;">
The University Card is your student ID card that you are required to carry when on campus. You will need it to access the Library and other University facilities. You will also need to display it when sitting in exams.<br>

    Please contact your departmental coordination office If you have lost your student ID card or are a new student, for new card</p>
<div class="line"></div>
<h3>Printing and photocopying</h3>
<p style="color:black;">On campus Self-service photocopiers are available.
</p>
            <div class="line"></div>
    <h3>Consumables</h3>
<p style="color:black;">CD-RWs can be bought from Campus Shop.
</p>
            <div class="line"></div>
    <h3>Wireless</h3>
<p style="color:black;">If you have your own computer then wireless internet is available in many University buildings, including libraries, teaching areas, and grounds. You will need to register for wireless before you can connect.
</p>
            <div class="line"></div>
    <h3>Library</h3>
<p style="color:black;">Equipped with state-of-the-art systems and technologies, CU Abbottabad library has a collection of over 26000 volumes comprising printed and electronic information sources. The library is managed by qualified and experienced staff, dedicated to provide high quality innovative services. Its culture of trust, tolerance, sharing and self servicing makes it a unique library of the region.
</p>
<p style="color:black;">For library Card and Registration please contact Library Help Desk or visist Library website to download registration form.
</p>
    <h3>Library catalgoue</h3>
<p style="color:black;">You can search the library catalogue and renew your library books online.
</p>
    <h3>Library catalgoue</h3>
<p style="color:black;">Digital Library</p>
<p style="color:black;">Many electronic library resources are available, including full-text journal articles, literature databases, and e-books.
</p>

<h3>Microsoft for All</h3>
<p style="color:black;">COMSATS official software distribution website, which allows students, faculty and staff to download Genuine Microsoft Software after registration is available at this link
    </p></p>
  </div>
    </div>




       <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

{% endblock %}

