{% extends "mainbase.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h5><u>Alumni Name:</u> {{ reservation.name }}</h5>
            </div>
            <div class="col-sm-2" style="text-align: right;">
                <a href="{% url 'FrontEnd:alumni_edit'  reservation.id %}"><button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Edit</button></a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <b>Name</b>
                <p style="text-align: justify">
                    {{ reservation.name }}
                </p>
                <b>Email</b>
                <p style="text-align: justify">
                    {{ reservation.email }}
                </p>
                <b>Mobile/Phone</b>
                <p style="text-align: justify">
                    {{ reservation.phone }}
                </p>
                <b>Year of Passing</b>
                <p style="text-align: justify">
                    {{ reservation.year_of_passing }}
                </p>
                <b>Date of Birth</b>
                <p style="text-align: justify">
                    {{ reservation.date_of_birth }}
                </p>
                <b>Martial Status</b>
                <p style="text-align: justify">
                    {{ reservation.martial_status }}
                </p>
                <b>Profession</b>
                <p style="text-align: justify">
                    {{ reservation.profession }}
                </p>
                <b>Requestor</b>
                <p style="text-align: justify">
                    {{ reservation.requestor.username }}
                </p>
            </div>
        </div>
        <br/>
    </div>
    <br/><br/>
{% endblock %}