{% extends "mainbase.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <h5><i class="fa fa-book"></i>Edit Reservation</h5>
            </div>
        </div>
        <hr>
        <br />
        <form action="{% url 'FrontEnd:auditorium_update_reservation' reservation.id %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="reason">Title</label>
                    <textarea class="form-control" id="reason" name="reason" rows="6" placeholder="Reason for booking....">{{ reservation.reason }}</textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="start_time">Start Time</label>
                    <input type="datetime-local" class="form-control" id="start_time" name="start_time" value="{{ reservation.start_time }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="end_time">End Time</label>
                    <input type="datetime-local" class="form-control" id="end_time" name="end_time" value="{{ reservation.end_time }}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-plus-square"></i>Update Reservation</button>
        </form>
    </div>
{% endblock %}