{% extends 'base.html' %}
{% load static %}

{% block content %}
			<!-- ticker -->
		<div class="news-ticker">
			<div class="container">
								<b>Breaking News</b>
				<div id="example">
				  <ul>
				  					    	<li><small class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> November 21, 2019</small> <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/farm/" class="break-news">They are still using those farms</a></li>
				    				    	<li><small class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> November 21, 2019</small> <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/new-sport-that-is-winning-that-world/" class="break-news">New Sport that is winning that world</a></li>
				    				    	<li><small class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> November 21, 2019</small> <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/the-copy-warned-the-little-blind-text/" class="break-news">Little Blind text</a></li>
				    				    	<li><small class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> November 21, 2019</small> <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/parlia/" class="break-news">On her way she met a copy</a></li>
				    				    	<li><small class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> November 21, 2019</small> <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/a-small-river-named-duden-flows-by-their-place-and-supplies/" class="break-news">A small river named Duden flows</a></li>
				    				    	<li><small class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> November 21, 2019</small> <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/sports/" class="break-news">Leave for the far world of grammar</a></li>

				  </ul>
				</div>
			</div>
		</div>
		<!-- ticker -->

<!-- Top News  -->

  <!-- Top News  -->



  <!-- banner-news -->


    <div class="banner-news banner-news-slider spacer">
  <div class="clearfix">
        <section  id="owl-slider" class="owl-carousel">
                <div class="item">
          <div class="banner-news-list">
                                      <img src="{% static 'images/lab.jpg' %}" alt="" class="img-responsive">
              <div class="banner-news-caption">
                  <a class="news-category pri-color" href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/category/lifestyle/">Lifestyle</a>                  <h1 class="news-title">
                    <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/farm/">They are still using those farms</a>
                  </h1>

                                                                <small class="date">
                          <i class="fa fa-clock-o"  aria-hidden="true"></i>
                          November 21, 2017                        </small>

                </div>
          </div>
          </div>
                <div class="item">
          <div class="banner-news-list">
                                      <img  src="{% static 'images/pas.jpg' %}" alt="" >
              <div class="banner-news-caption">
                  <a class="news-category pri-color" href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/category/sports/">Sports</a>                  <h1 class="news-title">
                    <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/new-sport-that-is-winning-that-world/">New Sport that is winning that world</a>
                  </h1>

                                                                <small class="date">
                          <i class="fa fa-clock-o"  aria-hidden="true"></i>
                          November 21, 2017                        </small>

                </div>
          </div>
          </div>
                <div class="item">
          <div class="banner-news-list">
                                      <img  src="{% static 'images/bus.jpg' %}" alt="" class="img-responsive">
              <div class="banner-news-caption">
                  <a class="news-category pri-color" href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/category/national/">National</a>                  <h1 class="news-title">
                    <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/the-copy-warned-the-little-blind-text/">Little Blind text</a>
                  </h1>

                                                                <small class="date">
                          <i class="fa fa-clock-o"  aria-hidden="true"></i>
                          November 21, 2017                        </small>

                </div>
          </div>
          </div>
          </section>
  </div>
</div>    <!-- banner-news -->





                <div class="home-archive inside-page post-list">
                <div class="container">
                    <div class="row">
                    	                        <div class="col-sm-8">
                                                                                  	<div class="list-view row">


<div class="col-sm-12">
    <div class="news-snippet">
        <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/farm/" rel="bookmark" class="featured-image">
                            <img width="1280" height="853" src="{% static 'images/pas.jpg' %}" class="attachment-post-thumbs size-post-thumbs wp-post-image" alt=""  sizes="(max-width: 1280px) 100vw, 1280px" />
        </a>
    <div class="summary">
        <h4 class="news-title">
            <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/farm/" rel="bookmark">They are still using those farms</a>
        </h4>
                    <div class="info"><ul class="list-inline">


                                                                <li><i class="fa fa-clock-o"></i> <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/">November 21, 2017</a></li>







                                                                      <li><a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/category/lifestyle/">Lifestyle</a></li>



                                                </ul>
          </div>




        <p>She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. [&hellip;]</p>
                    <div class="info"><ul class="list-inline">




                            </ul>
          </div>

        <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/farm/" rel="bookmark" title="" class="readmore">Read More </a>
    </div>
</div>
</div>

<div class="col-sm-12">
    <div class="news-snippet">
        <a href="#" rel="bookmark" class="featured-image">
                            <img width="1280" height="919" src="{% static 'images/pas.jpg' %}" class="attachment-post-thumbs size-post-thumbs wp-post-image" alt=""  sizes="(max-width: 1280px) 100vw, 1280px" />
        </a>
    <div class="summary">
        <h4 class="news-title">
            <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/new-sport-that-is-winning-that-world/" rel="bookmark">New Sport that is winning that world</a>
        </h4>
                    <div class="info"><ul class="list-inline">


                                                                <li><i class="fa fa-clock-o"></i> <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/">November 21, 2017</a></li>







                                                                      <li><a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/category/sports/">Sports</a></li>



                                                </ul>
          </div>




        <p>A number of such two-sided contests may be arranged in a tournament producing a champion. Many sports leagues make an annual champion by arranging games in a regular sports season, followed in some cases by playoffs. Hundreds of sports exist, from those between single contestants, through to those with hundreds of simultaneous participants, either in [&hellip;]</p>
                    <div class="info"><ul class="list-inline">




                            </ul>
          </div>

        <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/new-sport-that-is-winning-that-world/" rel="bookmark" title="" class="readmore">Read More </a>
    </div>
</div>
</div>

<div class="col-sm-12">
    <div class="news-snippet">
        <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/the-copy-warned-the-little-blind-text/" rel="bookmark" class="featured-image">
                            <img width="1280" height="856" src="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/street-3380337_1280.jpg" class="attachment-post-thumbs size-post-thumbs wp-post-image" alt="" srcset="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/street-3380337_1280.jpg 1280w, https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/street-3380337_1280-150x100.jpg 150w, https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/street-3380337_1280-300x200.jpg 300w, https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/street-3380337_1280-768x514.jpg 768w, https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/street-3380337_1280-1024x685.jpg 1024w" sizes="(max-width: 1280px) 100vw, 1280px" />
        </a>
    <div class="summary">
        <h4 class="news-title">
            <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/the-copy-warned-the-little-blind-text/" rel="bookmark">Little Blind text</a>
        </h4>
                    <div class="info"><ul class="list-inline">


                                                                <li><i class="fa fa-clock-o"></i> <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/">November 21, 2017</a></li>







                                                                      <li><a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/category/national/">National</a></li>



                                                </ul>
          </div>




        <p>Far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, [&hellip;]</p>
                    <div class="info"><ul class="list-inline">




                            </ul>
          </div>

        <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/the-copy-warned-the-little-blind-text/" rel="bookmark" title="" class="readmore">Read More </a>
    </div>
</div>
</div>

<div class="col-sm-12">
    <div class="news-snippet">
        <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/parlia/" rel="bookmark" class="featured-image">
                            <img width="1280" height="850" src="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/taxi-cab-381233_1280.jpg" class="attachment-post-thumbs size-post-thumbs wp-post-image" alt="" srcset="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/taxi-cab-381233_1280.jpg 1280w, https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/taxi-cab-381233_1280-150x100.jpg 150w, https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/taxi-cab-381233_1280-300x200.jpg 300w, https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/taxi-cab-381233_1280-768x510.jpg 768w, https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/taxi-cab-381233_1280-1024x680.jpg 1024w" sizes="(max-width: 1280px) 100vw, 1280px" />
        </a>
    <div class="summary">
        <h4 class="news-title">
            <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/parlia/" rel="bookmark">On her way she met a copy</a>
        </h4>
                    <div class="info"><ul class="list-inline">


                                                                <li><i class="fa fa-clock-o"></i> <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/">November 21, 2017</a></li>







                                                                      <li><a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/category/news/">News</a></li>



                                                </ul>
          </div>




        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of [&hellip;]</p>
                    <div class="info"><ul class="list-inline">




                            </ul>
          </div>

        <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/parlia/" rel="bookmark" title="" class="readmore">Read More </a>
    </div>
</div>
</div>

<div class="col-sm-12">
    <div class="news-snippet">
        <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/a-small-river-named-duden-flows-by-their-place-and-supplies/" rel="bookmark" class="featured-image">
                            <img width="1280" height="853" src="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/solo-violinist-619154_1280.jpg" class="attachment-post-thumbs size-post-thumbs wp-post-image" alt="" srcset="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/solo-violinist-619154_1280.jpg 1280w, https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/solo-violinist-619154_1280-150x100.jpg 150w, https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/solo-violinist-619154_1280-300x200.jpg 300w, https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/solo-violinist-619154_1280-768x512.jpg 768w, https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2017/11/solo-violinist-619154_1280-1024x682.jpg 1024w" sizes="(max-width: 1280px) 100vw, 1280px" />
        </a>
    <div class="summary">
        <h4 class="news-title">
            <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/a-small-river-named-duden-flows-by-their-place-and-supplies/" rel="bookmark">A small river named Duden flows</a>
        </h4>
                    <div class="info"><ul class="list-inline">


                                                                <li><i class="fa fa-clock-o"></i> <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/">November 21, 2017</a></li>







                                                                      <li><a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/category/lifestyle/">Lifestyle</a></li>



                                                </ul>
          </div>




        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of [&hellip;]</p>
                    <div class="info"><ul class="list-inline">




                            </ul>
          </div>

        <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/a-small-river-named-duden-flows-by-their-place-and-supplies/" rel="bookmark" title="" class="readmore">Read More </a>
    </div>
</div>
</div>


	                            <ul class="pagination">
	                              <li id="previous-posts">
	                                	                              </li>
	                              <li id="next-posts">
	                                <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/page/2/" >Next Posts >></a>	                              </li>
	                            </ul>
	                          	                        </div>
                        </div>
                                            		<div class="col-sm-4"><aside id="categories-3" class="widget widget_categories"><h3 class="widget-title">Categories</h3>		<ul>
	<li class="cat-item cat-item-4"><a href="#" >Auditorium Booking</a>
</li>
	<li class="cat-item cat-item-1"><a href="#" >Daycare Center Booking</a>
</li>
	<li class="cat-item cat-item-5"><a href="#" >Life At Comsat</a>
</li>

	<li class="cat-item cat-item-7"><a href="#" >Sports</a>
</li>
	<li class="cat-item cat-item-8"><a href="#" >Academic</a>
</li>
		</ul>

	<aside id="recent-posts-4" class="widget widget_recent_entries"><br>
        <h3 class="widget-title">Recent Post</h3>
        <ul>
						<li>
					<a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/farm/">They are still using those farms</a>
											<span class="post-date">November 21, 2017</span>
									</li>
											<li>
					<a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/new-sport-that-is-winning-that-world/">New Sport that is winning that world</a>
											<span class="post-date">November 21, 2017</span>
									</li>
											<li>
					<a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/the-copy-warned-the-little-blind-text/">Little Blind text</a>
											<span class="post-date">November 21, 2017</span>
									</li>
											<li>
					<a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/parlia/">On her way she met a copy</a>
											<span class="post-date">November 21, 2017</span>
									</li>
											<li>
					<a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2017/11/21/a-small-river-named-duden-flows-by-their-place-and-supplies/">A small river named Duden flows</a>
											<span class="post-date">November 21, 2017</span>
									</li>
					</ul>
		</aside></div>
                    	                    </div>
                </div>
            </div>


        <div class="recent-news spacer">
                      <h2 class="news-heading">Sports</h2>
                    <div class="row">
            <div class="col-sm-12">
              <div class="row">

                  <div class="col-sm-6 eq-blocks">
                    <div class="news-snippet">
                      <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2015/12/20/u/" rel="bookmark" class="featured-image">
                                                  <img width="150" height="100" src="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2015/12/2-150x100.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />
                      </a>
                    <!-- summary -->
                    <div class="summary">
                      <h4 class="news-title"><a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2015/12/20/u/" rel="bookmark">Full responsive theme</a></h4>
                      <small class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> December 20, 2015</small>
                    </div>
                    <!-- summary -->
                    </div>
                  </div>

                  <div class="col-sm-6 eq-blocks">
                    <div class="news-snippet">
                      <a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2015/12/20/sl/" rel="bookmark" class="featured-image">
                                                  <img width="150" height="100" src="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/wp-content/uploads/2015/12/1-150x100.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />
                      </a>
                    <!-- summary -->
                    <div class="summary">
                      <h4 class="news-title"><a href="https://thebootstrapthemes.com/demo/magazine-newspaper-blog/2015/12/20/sl/" rel="bookmark">Passion for photography</a></h4>
                      <small class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> December 20, 2015</small>
                    </div>
                    <!-- summary -->
                    </div>
                  </div>
                              </div>
            </div>
          </div>
        </div>

         	</div>




					</section>

<div>
{% endblock content %}