{% load static %}
<footer>
			        <div  style="text-align: center;color:black;" >	 © 2020 Comsats Magazine. <br> COMSATS University. All Rights Reserved. </div>
			<div class="scroll-top-wrapper"> <span class="scroll-top-inner"><i class="fa fa-2x fa-angle-up"></i></span> </div>
	</footer>

<!--<script src="{% static 'js/jquery1.min.js' %}" type="faa75e89fde16800ecaffd4e-text/javascript"></script>-->
<script src="{% static 'js/popper1.js' %}" type="faa75e89fde16800ecaffd4e-text/javascript"></script>
<script src="{% static 'js/bootstrap1.min.js' %}" type="faa75e89fde16800ecaffd4e-text/javascript"></script>
<script src="{% static 'js/main1.js' %}" type="faa75e89fde16800ecaffd4e-text/javascript"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="faa75e89fde16800ecaffd4e-|49" defer=""></script>
